<h1> THRIFTER </h1>

<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |err| %>
            <li>
                <%= err %>
            </li>
        <% end %>
    </ul>
<% end %>

<h2> Create a New User </h2>

<%= form_for @user do |f| %>
<%= f.label :user_name %>
<%= f.text_field :user_name %>
<%= f.label :password %>
<%= f.password_field :password %> 
<%= f.submit %>
<% end %>



