
<h2> Name: <%= @user.user_name %></h2>
<hr>

<h3> All Your Current Items For Sale: </h3>
<ul>

<% @user.items.each do |item| %>
    <li>
        <%= item.name %>
        <%= button_to "Delete Item", item_path(item), method: :delete %>
    </li>
    <% end %>
</ul>

<nav>
<%= link_to "Back to all Items", items_path %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path %>
<br>
<%= link_to "Manage My Account", user_path %>
<br>
<!-- Is this the logout path? -->
<%= link_to "Logout", "/logout", method: :delete %>
<br>

</nav>
