<h1> THRIFTER </h1>  <!-- This page should only be visible to the individual user -->

<h2> Name: <%= @user.user_name %></h2>
<hr>
<h3> All Items You Have Purchased: </h3>
<ul>

<h3> All Your Current Items For Sale: </h3>
<ul>

<% @user.items.each do |item| %>
    <li><%= item.name %></li>
    <% end %>
</ul>

<nav>
<%= link_to "Back to all Items", items_path %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path %>
<br>
<%= link_to "Manage My Account", user_path %>
<br>
<!-- Is this the logout path? -->
<%= link_to "Logout", "/logout" %>
<br>

</nav>
