
<h2> Name: <%= @user.user_name %></h2>
<hr>

<h3> All Your Current Items For Sale: </h3>

<div id='show_content'>
    <% @user.items.each do |item| %>
        <p>
            <div class='thumb_name'><%= link_to item.name, item_path(item) %></div>
            <%= button_to "Delete Item", item_path(item), method: :delete %>
            <div class='edit'><%= link_to "Edit this Item", edit_item_path(item) %></div>
        </p>
        <% end %>
</div>
<nav>
  
   <%= link_to "Back to all Items", items_path, class: 'small_link' %>
    <br>
   <%= link_to "Post a New Item for Sale", new_item_path, class: 'small_link' %>
    <br>
   <%= link_to "Manage My Account", user_path, class: 'small_link' %>
    <br>
    <%= button_to "Logout", "/logout", method: :delete %>
    
</nav>
