
<% if flash[:message] %>
    <p>
        <%= flash[:message] %>
    </p>
<% end %>

<h2> A List of All Our Items </h2>

<form method="get" action="/items">
  <label for="name_input">Name:</label>
  <input type="text" name="query" id="name_input" >
  <input type="submit" value="Search!">
</form>

<div class="container">
    <% @sellers.each do |seller| %>
        <p><%= link_to seller.item.name, seller.item %><br>
        $ <%= seller.item.price %><br>
        <%= seller.item.description %><br>
        <%= image_tag seller.item.img_url class: 'thumbnail' %></p>
    <% end %>
</div>




    <nav>

    <%= link_to "Post a New Item for Sale", new_item_path %>
    <br>
    <%= link_to "Manage My Account", user_path(@user_id) %>
    <br>
    <!-- Is this the logout path? -->
    <%= button_to "Logout", "/logout", method: :delete %>
    <br>
    
    </nav>
<%= link_to "My Page", user_path(@user_id) %>
