<h2>Post an Item for Sale</h2>
<div id="error_msg">
<% if flash[:errors] %>
    <ul>
        <% flash[:errors].each do |err| %>
            <li>
                <%= err %>
            </li>
        <% end %>
    </ul>
<% end %>
</div>
<%= form_for @item do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <%= f.label :price %><br>
    <%= f.number_field :price %><br>
    <%= f.label :description %><br>
    <%= f.text_field :description %><br>
    <%= f.label :category %><br>
    <%= f.text_field :category %><br>
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %><br>
    <%= f.hidden_field :user_id, value: @user_id %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.submit %>
<% end %>


<nav>    
<%= link_to "Back to all Items", items_path, class: 'small_link' %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path, class: 'small_link' %>
<br>
<%= link_to "Manage My Account", user_path(@user_id), class: 'small_link' %>
<br>
<%= button_to "Logout", "/logout", method: :delete %>
</nav>