<h1>Post an Item for Sale!</h1>



<%= form_for @item do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
    <%= f.hidden_field :user_id, value: @user_id %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.submit %>
<% end %>



<nav>
    
<%= link_to "Back to all Items", items_path %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path %>
<br>
<%= link_to "Manage My Account", user_path %>
<br>
<!-- Is this the logout path? -->
<%= link_to "Logout", "/logout" %>
<br>

</nav>