

<h2><%= @item.name %></h2>

<h3><%= @item.category %></h3>
<h3><%= @item.price %></h3>

<hr>

<h3><%= @item.description %></h3>

<%= image_tag @item.img_url %>


<form method="get" action="/buyers/new">
<input type="hidden" name="id" value=<%= @item.id %>>
<input type="submit" value="buy"/>
</form>

<nav>
<%= link_to "Back to all Items", items_path %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path %>
<br>
<%= link_to "Manage My Account", user_path %>
<br>
<%= button_to "Logout", "/logout", method: :delete %>
<br>
</nav>
