
<div id="show_content">
    <h2 class='product_show_name'><%= @item.name %></h2>

    <h3 class='product_show_info'>category: <%= @item.category %></h3>
    <h3 class='product_show_info'>$<%= @item.price %></h3>
    <h3 class='product_show_info'>Merchant: <%= @item.user.user_name %></h3>

    <hr>

    <h3 class='product_show_desc'>Description: <%= @item.description %></h3>

    <%= image_tag @item.img_url, class: 'product_img' %>

</div>

<form method="get" action="/buyers/new">
<input type="hidden" name="id" value=<%= @item.id %>>
<input type="submit" value="buy"/>
</form>

<nav>
<%= link_to "Back to all Items", items_path, class: 'small_link' %>
<br>
<%= link_to "Post a New Item for Sale", new_item_path, class: 'small_link' %>
<br>
<%= link_to "Manage My Account", user_path, class: 'small_link' %>
<br>
<%= button_to "Logout", "/logout", method: :delete %>
</nav>
