
<h2> Login Page </h2>

<% if flash[:message] %>
    <p>
        <%= flash[:message] %>
    </p>
<% end %>

<%= form_tag "/login" do %>
    <%= label_tag :user_name %>
    <%= text_field_tag :user_name %>
    <%= label_tag :password %>
    <%= password_field_tag :password %> 
    <%= submit_tag "Login" %>
 <% end %> 