
<h2>Buy this Item</h2>

<div id='show_content'>
    <%= image_tag @item.img_url, class: 'product_img' %>


    <h2 class='product_show_name'><%= @item.name %></h2>


    <h3 class='product_show_info'>$<%= @item.price %></h3>

    <h3 class='product_show_info'>Description: <%= @item.description %></h3>
</div>

<h3 class='product_show_name'>Please Enter Payment Info</h3>
<form>
    <input type="text" value="enter card number"><br>
    <input type="text" value="enter expiration date"><br>
    <input type="text" value="enter CSV"><br>
</form>
<h3 class='product_show_name'>Please Enter Shipping Info</h3>
<form>
    <input type="text" value="enter your address"><br>
    <input type="text" value="address line 2"><br>
    <input type="text" value="city"><br>
    <input type="text" value="state"><br>
    <input type="text" value="zipcode"><br>
</form>
<%= form_for @buyer do |f| %>
    <%= f.hidden_field :user_id, value: @user_id %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <input type="hidden" value=<%= @seller %>>
    <%= f.submit value: "Please Confirm" %>
<% end %>
